* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ShabnamFD";
    font-weight: bold;
}

body {
    background-image: url(../img/3.jpg);
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.todo {
    width: 20%;
    height: 700px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    padding: 15px 0;
}

.todo .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.todo .top h3 {
    color: #3d518f;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.todo .top .btn-hide {
    padding: 3px 7px;
    background-color: #3d518f;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.todo .top .btn-hide:hover {
    background-color: #4b64af;
}

.todo .main {
    padding: 10px 0;
    text-align: right;
}

.todo .main .list {
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.todo .main .list .item {
    padding: 10px 5px;
    border-top: 1px solid #ccc;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo .main .list .item:hover {
    background-color: #f1f1f1;
}

.todo .main .list .item .title {
    width: 80%;
    font-size: 1.3rem;
}

.todo .main .list .item .option {
    width: 20%;
}

.todo .main .list .item .option .edit {
    color: #4b64af;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
}

.todo .main .list .item .option .delete {
    color: red;
    text-decoration: none;
    padding: 4px;
    border-radius: 5px;
}

.todo .main .list .item .option a:hover {
    background-color: #fff;
}


.todo .buttom {
    width: 100%;
}

.todo .buttom form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1005;
}

.todo .buttom form input {
    width: 80%;
    padding: 13px;
    outline: none;
    border: none;
    background-color: #e8e8e8;
    color: #555;
    border-radius: 5px;
    font-size: 1.5rem;
}

.todo .buttom form button {
    width: 19%;
    padding: 13px;
    background-color: #3d518f;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.todo .buttom form button:hover {
    background-color: #4b64af;
}

.filter {
    filter: blur(4px);
}